body{
    background-color:rgb(220, 215, 215);
}
.dropdown{
    margin-top: 400px;
}

.dropdown-button{
    background-color: #f1f1f1;
    color: #444;
    cursor: pointer;
    padding: 10px;
    width: 45px;
    border: none;
    border-radius: 50%;
    text-align: center;
    font-size: 18px;
    transition: 0.4s;
}
.dropdown-content {
    display: none;
    overflow: hidden;
    padding: 0 18px;
    background-color: #f9f9f9;
    margin-top: 10px;
    width: 200px;
    border-radius: 30px;
}
.dropdown-content ul {
    list-style-type: none;
    padding: 0;
}
.dropdown-content li {
    padding: 8px 0;
    border-bottom: 1px solid #ddd;
}
.dropdown-choice1,
.dropdown-choice2,
.dropdown-choice3{
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    text-align: center;
}

#category-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}
.box {
    width: 200px;
    height: 200px;
    background-color: #f1f1f1;
    border: 2px solid #ccc;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.box:hover {
    background-color: #e0e0e0;
}